.menu{
	width:100%;
	margin:0 auto;
	padding: 0;
}
.index_map{
	width: 40%;
	height: auto;
	margin:0 auto;
	padding: 0;
	float: left;
	margin: 2.5%;
}

.index_map img{
	width:100%;
	overflow: hidden;
	margin:0 auto;
	padding: 0;
}